
body {
    background: url(../images/dark-texture-background.jpg);
	position: absolute;
    width: 100%;
    padding: 0;
    margin: 0;
}

.wraper hr {
	color: #848484;
    border: 1px solid!important;
    width: 85%;
	margin: auto;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

legend {
	font-family: 'Kaushan Script';
	font-size: 14px;
}

li {
    text-align: left;
}