<link rel="stylesheet" href="assets/home/assets/css/main.css" />
<section class="body">
    <div ng-include="'common/head-public.html'"></div>
    <div ng-include="'common/social.html'"></div>
</section>
<div class="notice-data">
    <div class="footer-notice">
        <h1 class="head-container">NOTICIAS</h1>
        <hr/>
        <div class="card-deck">
          <div class="card" ng-repeat="notice in noticias">
            <img class="card-img-top" ng-src="{{notice.FOTO}}">
            <div class="card-body">
              <h6 class="card-title" ng-click="showNoticia(notice.ID)">{{notice.TITULO}}</h6>
            </div>
          </div>
        </div>
    </div>
</div>