<div class="contenedor">
    <!-- Alert -->
            <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" dismiss-on-timeout='3000' close="closeAlert($index)" style="top:0em !important">{{alert.msg}}</div>
    <div class="container">
        <div class="contentLogin">
            <div class="form_head">
                <img class="imagen-login" src="assets/images/logo_trans.png">
                <!--<p>Fundación Marcelino Oliver</p>-->
            </div>
            <form class="content">
              <div class="form-row">
                 <div class="form-group col-md-12">
                    <input type="text" placeholder = "Usuario" class="form-control form-control-sm mb-2" id="usr" ng-model="user" required>
                 </div>
              </div>
              <div class="form-row">
                 <div class="form-group col-md-12">
                    <input type="password" placeholder = "Contraseña" class="form-control form-control-sm mb-2" id="pwd" ng-model="password" required>
                 </div>
              </div>
                <div class="form-row">
                 <div class="form-group col-md-12">
                    <button type="button" style = "margin-top: 1em;" class="btn btn-danger btn-sm mb-2" ng-click="login()">Iniciar sesión</button>
                 </div>
              </div>
            </form>
        </div>
    </div>
</div>