<script>
   initSample();
</script>
<ng-include src="'common/head.html'"></ng-include>
<ng-include src="'common/slidebar.html'"></ng-include>
<div class="container" id="main">
   <!-- Alert -->
   <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" dismiss-on-timeout='3000' close="closeAlert($index)">{{alert.msg}}</div>
   <!-- start: page -->
   <div class="card">
      <div class="card-header"><small>Noticias</small></div>
      <div class="card-body" ng-show="!new">
         <div class="form-inline">
            <div class="form-group">
               <input class="form-control form-control-sm mx-sm-3 mb-2" type="text" placeholder="Buscar noticia" ng-model="filtro" />
            </div>
            <button ng-show = "licenses.createNews" class="btn btn-info btn-sm mb-2" ng-click="fnew()" ><i><small>Nueva noticia</small></i></button>
         </div>
         <div class="card">
            <div class="card-header"><small>Lista de noticias</small></div>
            <div class="card-body">
               <table class="table table-hover table-bordered">
                  <thead>
                     <tr>
                        <th>Acción</th>
                        <th>Título</th>
                        <th>Fecha</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr ng-repeat="item in noticias.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage)) | filter: filtro">
                        <td>
                           <button class="btn btn-info btn-sm" tooltip title="Ver noticia" ng-click="ver(item)"><i class="fas fa-info-circle"></i></button>
                           <button ng-show = "licenses.deleteNews" class="btn btn-danger btn-sm" tooltip title="Eliminar noticia" ng-click="showConfirm($event, item)"><i class="fas fa-times-circle"></i></button>
                        </td>
                        <td>{{ item.TITULO }}</td>
                        <td>{{ item.FECHA | date: "dd/MM/yyyy" }}</td>
                     </tr>
                  </tbody>
               </table>
               Se están mostrando 
               <select style= "width: 5em;display: initial;" class= "form-control form-control-sm" ng-model="viewby" ng-change="setItemsPerPage(viewby)">
                  <option>3</option>
                  <option>5</option>
                  <option>10</option>
                  <option>20</option>
                  <option>30</option>
                  <option>40</option>
                  <option>50</option>
               </select>
               registros.
               <!--<div style="text-align: center">-->
                  <!--<ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" ng-change="pageChanged()"></ul>-->
                   <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" class="pagination-sm justify-content-center" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
               <!--</div>-->
            </div>
         </div>
      </div>
      <div class="card-body" ng-show="new">
         <button class="btn btn-info btn-sm mb-2" tooltip title="Volver" ng-click="return()"><i class="fas fa-reply"></i></button>
         <button class="btn btn-success btn-sm mb-2" tooltip title="Guardar noticia" ng-click="save()" ng-disabled = "disabled"><i class="far fa-save"></i></button>
         <button class="btn btn-warning btn-sm mb-2" tooltip title="Vista previa" ng-click="showPrev($event)"><i class="fa fa-clipboard"></i></button>
         <button class="btn btn-warning btn-sm mb-2" tooltip title="Subir imagen" data-toggle="modal" data-target="#CargarImagenes"><i class="fa fa-upload"></i></button>
         <button ng-show = "licenses.updateNews" class="btn btn-warning btn-sm mb-2 float-right" tooltip title="Modificar noticia" ng-click = "allowUpdate()"><i class="far fa-edit"></i></button>
         <br />
         <!-- Modal -->
         <div class="modal fade" id="CargarImagenes" role="dialog">
            <div class="modal-dialog modal-l" role="document">
               <!-- Modal content-->
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Almacenar imagenes en el servidor</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     <div class="col-xm-6">
                        <!--<h4><label class="label label-info">Imagen de la noticia:</label></h4>-->
                        <input type="file" file-model="files" name="file-7-eventos" id="file-7-eventos" class="inputfile inputfile-7" />
                        <label for="file-7-eventos">
                           <span class="spaninputfile"></span>
                           <strong>
                              <svg xmlns="http://www.w3.org/2000/svg" class="spaninputfile" width="20" height="17" viewBox="0 0 20 17">
                                 <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                              </svg>
                              Seleccionar archivo
                           </strong>
                        </label>
                     </div>
                     <div class="col-xm-6">
                        <button class="btn btn-success btn-sm mb-2" tooltip title="Guardar imagen" ng-click="subirImagen()">Enviar</button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Fin Modal-->
         <div class="card">
            <div class="card-header"><small>Creador de noticias</small></div>
            <div class="card-body">
               <form>
                  <div class="form-row">
                     <div class="form-group col-md-6">
                        <label class="label label-info">Título:</label>
                        <textarea ng-disabled = "disabled" class="form-control" placeholder="Introduce aquí el titulo de la noticia..." ng-model="noticia.TITULO" maxlength="100" rows="3" required></textarea>
                     </div>
                      <div class="form-group col-md-5">
                        <label class="label label-info">Categoria:</label>
                        <div class="card shadow-0">
                            <div style="height:85px;overflow:auto;">
                                <table class="table table-hover" style="margin-bottom: 0px;">
                                  <tbody>
                                     <tr ng-repeat="catego in selectedCategory">
                                        <td style="padding: 0.3rem;">
                                           <button ng-disabled = "disabled" class="btn btn-danger btn-sm" tooltip title="Eliminar categoria" ng-click="eliminarCategoria($index)"><i class="fas fa-minus"></i></button>
                                        </td>
                                        <td style = "vertical-align: middle;padding: 0.3rem;">{{ catego.NOMBRE }}</td>
                                     </tr>
                                  </tbody>
                               </table>
                            </div>
                        </div>
                     </div>
                     <div class="form-group col-md-1">
                        <button ng-disabled = "disabled" style="position:relative; top:5.9em;" class="btn btn-warning btn-sm" tooltip title="Categorias" data-toggle="modal" data-target="#myModalCategory" ng-click="getCategory()"><i class="far fa-images"></i></button>
                     </div>
                  </div>
                  <!-- Modal -->
                   <div class="modal fade" id="myModalCategory" role="dialog">
                     <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalScrollableTitle">Lista de categorias</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                               <div class="form-row">
                                  <div class="form-group col-md-6">
                                    <label class="label label-info">Categorias disponibles:</label>
                                    <div class="card shadow-0">
                                        <div style="overflow:auto;">
                                            <table class="table table-hover" style="margin-bottom: 0px;">
                                              <tbody>
                                                 <tr ng-repeat="catego in categorias">
                                                    <td style="padding: 0.3rem;">
                                                       <button ng-disabled = "catego.SELECTED" class="btn btn-success btn-sm" tooltip title="Añadir categoria" ng-click="aniadirCategoria(catego)"><i class="fas fa-plus"></i></button>
                                                    </td>
                                                    <td style = "vertical-align: middle;padding: 0.3rem;">{{ catego.NOMBRE }}</td>
                                                 </tr>
                                              </tbody>
                                           </table>
                                        </div>
                                    </div>
                                  </div>
                               <div class="form-group col-md-6">
                                    <label class="label label-info">Categorias seleccionadas:</label>
                                    <div class="card shadow-0">
                                        <div style="overflow:auto;">
                                            <table class="table table-hover" style="margin-bottom: 0px;">
                                              <tbody>
                                                 <tr ng-repeat="catego in selectedCategory">
                                                    <td style="padding: 0.3rem;">
                                                       <button class="btn btn-danger btn-sm" tooltip title="Eliminar categoria" ng-click="eliminarCategoria($index)"><i class="fas fa-minus"></i></button>
                                                    </td>
                                                    <td style = "vertical-align: middle;padding: 0.3rem;">{{ catego.NOMBRE }}</td>
                                                 </tr>
                                              </tbody>
                                           </table>
                                        </div>
                                    </div>
                                  </div>
                               </div>
                                </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                           </div>
                        </div>
                     </div>
                  </div>
                  <br />
                  <div class="form-row">
                     <div class="form-group col-md-12">
                         <label class="label label-info">Contenido:</label>
                        <div id="editor"></div>
                     </div>
                  </div>
                  <br />
                  <div class="form-row">
                     <div class="form-group col-md-4">
                        <label class="label label-info">Imagen:</label>
                        <input type="text" class="form-control form-control-sm" ng-model="noticia.FOTO" disabled>
                    </div>
                    <div class="form-group col-md-2">
                        <button ng-disabled = "disabled" style="position:relative; top:1.9em;" class="btn btn-warning btn-sm" tooltip title="Imagenes ya cargadas" data-toggle="modal" data-target="#myModal" ng-click="getImages()"><i class="far fa-images"></i></button>
                    </div>
                     <div class="form-group col-md-6">
                        <label class="label label-info">Imagen seleccionada:</label>
                        <div ng-if="noticia.FOTO===undefined">
                           <h5>No se ha cargado ninguna imagen</h5>
                        </div>
                        <div ng-if="noticia.FOTO!==undefined">
                           <img class="image-notice" src="{{noticia.FOTO}}" />
                        </div>
                     </div>
                  </div>
                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                     <div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
                        <div class="modal-content">
                           <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalScrollableTitle">Imagenes almacenadas en el servidor</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="modal-body">
                              <p style="text-align:left;">Todas estás imagenes se encuentran en el directorio <code>assets/images/news/</code></p>
                              <div class="figure-img-server" ng-repeat="imagen in imagenes">
                                 <img class="scaled" src="assets/images/news/{{imagen}}">
                                 <p>{{imagen}}</p>
                                 <input name="image" type="radio" ng-model="noticia.FOTO" value="assets/images/news/{{imagen}}">
                              </div>
                           </div>
                           <div class="modal-footer">
                              <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cerrar</button>
                           </div>
                        </div>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>